<label for="{{this.id}}"></label>
<input id="{{this.id}}" name="{{this.name}}" type="{{this.type}}"
                                        class="input-form_field{{#if this.className}} {{this.className}}{{/if}}"
                                        autocomplete="on"
                                        placeholder="{{this.placeholder}}"
       {{#if this.value}}value="{{this.value}}"{{/if}}
>
