<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link href="{{styles}}" rel="stylesheet" />
</head>
<body {{#if bodyСlass}}class="{{bodyСlass}}"{{/if}}>
{{{block "body"}}}
{{#if script}}<script src="{{script}}"></script>{{/if}}
</body>
</html>
